[submodule "vllm-ascend"]
	path = vllm-ascend
	url = https://github.com/vllm-project/vllm-ascend.git
	branch = main
[submodule "vllm"]
	path = vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "aisbench_auto_tools"]
	path = aisbench_auto_tools
	url = https://github.com/rayn-zzz/aisbench_auto_tools_prefix.git
        branch = main
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/AISBench/benchmark.git
        branch = master
